 @import "tailwindcss";

/* Create a star shape using clip-path */
.clip-star {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px); /* Start from below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at the final position */
  }
}

.card-animation {
  opacity: 0;
  transform: translateY(50px); /* Make sure cards are off-screen initially */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.card-animation.visible {
  opacity: 1;
  transform: translateY(0); /* Slide up to original position */
}




